$darkblue: #00008b;
$deepblue: #191970;
$clickable: RoyalBlue;
$hover: DodgerBlue;
$darkgray: #666666;
$gray: #dcdcdc;
$white: #ffffff;

body {
	color: $darkgray;
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.container-fluid {
	padding: 0;
	margin: 0;
}
h3 {
	margin-top: 10px;
}
#top {
	background: rgba($darkgray, 90%);
	height: 10vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	color: $white;
}
.section {
	width: 100vw;
	height: 100vh;
	min-height: 100vh;
	padding: 12vh 15vw;
	overflow-y: scroll;
}
.menubar {
	background: rgba($darkgray, 90%);
	height: 50px;
	width: 350px;
	position: fixed;
	bottom: 0;
	margin-left: 50%;
	margin-bottom: 0;
	transform: translateX(-50%);

	display: "flex";
	justify-content: space-around;

	li .li {
		color: $white;
		list-style: none;
		text-transform: none;
		width: 40px;
		height: 40px;
		padding: 8px;
		text-align: center;
		line-height: 30px;
		border-radius: 25px;
		background: $clickable;
		margin-top: 10px;
		cursor: pointer;
	}
}
.btn {
	min-width: 120px;
	border-radius: 0;
	margin-right: 0;
}
.btn-primary {
	background: $clickable;
}
.next {
}
label {
	font-weight: 300;
	text-align: left;
}
.panel-default {
	background: rgba(white, 80%);
}
.panel-heading {
	font-weight: 700;
	font-size: 14px;
	color: $darkblue;
}
.panel-body {
	height: 70vh;
	overflow-y: scroll;
	text-align: left;
	color: $darkgray;
	padding-bottom: 50px;
	h4 {
		color: $hover;
		font-size: 16px;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 0;
		padding: 10px;
		background: rgba($gray, 20%);
	}
}
.qTitles {
	color: $darkgray;
	background: rgba($gray, 20%);
	border-bottom: 1px solid $darkblue;
}
.num {
	display: inline-block;
	width: 5%;
	font-weight: 500;
}
.dis {
	display: inline-block;
	width: 70%;
	color: $deepblue;
}
.dis-scale {
	display: inline-block;
	width: 34%;
}
.selectPanel {
	display: inline-block;
	width: 25%;
}
.selectPanel2 {
	display: block;
	padding-left: 3%;
	width: 90%;
}
.radioInline {
	border-bottom: 1px solid $gray;
	padding: 10px;
	margin-bottom: 5px;
	label {
		text-align: left;
		font-weight: 400;
		color: $clickable;
		margin: 0 7px;
	}
	input {
		margin: 0 5px;
	}
	span {
		display: block;
	}
}

#demographic {
	background: rgba(#d8bfd8, 30%) url("./q1.png") no-repeat right bottom;
}

#loyalty {
	background: rgba(#663399, 20%) url("./q2.png") no-repeat right bottom;
	h4,
	.num {
		color: rgba(#663399, 60%);
	}
}

#roi {
	background: rgba(#66cdaa, 20%) url("./q3.png") no-repeat right bottom;
	h4,
	.num {
		color: MediumSeaGreen;
	}
}

#motivational {
	background: rgba(#e9967a, 20%) url("./q4.png") no-repeat right bottom;
	h4,
	.num {
		color: Tomato;
	}
}

#leadership {
	background: rgba(#7b68ee, 20%) url("./q5.png") no-repeat right bottom;
	h4,
	.num {
		color: #7b68ee;
	}
}

#govt {
	background: rgba(#bdb76b, 30%) url("./q6.png") no-repeat right bottom;
}

#prefer {
	background: rgba(#556b2f, 20%) url("./q7.png") no-repeat right bottom;
}

#thanks {
	background: tomato;
	text-align: center;
	color: $white;
	h3,
	p {
		margin: 10px 0;
	}
}
.slideUp {
	animation-name: up;
	animation-duration: 4s;
}
@keyframes up {
	from {
		margin-top: 0;
	}
	to {
		margin-top: -100vh;
	}
}
.slot1 {
	width: 30%;
	padding: 15px;
	margin: 5px;
	border: 1px solid #e9967a;
	display: inline-block;
	background: rgba(#e9967a, 10%);
}
.slot2 {
	width: 30%;
	padding: 15px;
	margin: 5px;
	border: 1px solid #e9967a;
	display: inline-block;
	background: rgba(#e9967a, 20%);
}
.slot3 {
	width: 30%;
	padding: 15px;
	margin: 5px;
	border: 1px solid #e9967a;
	display: inline-block;
	background: rgba(#e9967a, 30%);
}
