$darkblue: #00008b;
$deepblue: #191970;
$clickable: RoyalBlue;
$hover: DodgerBlue;
$darkgray: #666666;
$gray: #dcdcdc;
$white: #ffffff;

body {
	color: $darkgray;
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
}
.container-fluid {
	padding: 0;
	margin: 0;
}
h3 {
	margin-top: 10px;
}
#top {
	background: rgba($darkgray, 90%);
	height: 10vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	color: $white;
}
.section {
	width: 100vw;
	min-height: 100vh;
	padding: 12vh 15vw;
}
.btn {
	min-width: 120px;
	border-radius: 0;

	margin-right: 0;
}
label {
	font-weight: 300;
	text-align: left;
}
.panel-default {
	background: rgba(white, 80%);
}
.panel-heading {
	font-weight: 700;
	font-size: 14px;
	color: $darkblue;
}
.panel-body {
	text-align: left;
	color: $darkgray;
	h4 {
		color: $hover;
		font-size: 16px;
		text-align: center;
		margin-bottom: 0;
		padding: 10px;
		background: rgba($gray, 20%);
	}
}
.qTitles {
	color: $darkgray;
	background: rgba($gray, 20%);
	border-bottom: 1px solid $darkblue;
}
.num {
	display: inline-block;
	width: 5%;
	font-weight: 500;
}
.dis {
	display: inline-block;
	width: 70%;
	color: $deepblue;
}
.dis-scale {
	display: inline-block;
	width: 34%;
}
.selectPanel {
	display: inline-block;
	width: 25%;
}
.selectPanel2 {
	display: block;
	padding-left: 3%;
	width: 90%;
}
.radioInline {
	border-bottom: 1px solid $gray;
	padding: 10px;
	margin-bottom: 5px;
	label {
		text-align: left;
		font-weight: 400;
		color: $clickable;
		margin: 0 7px;
	}
	input {
		margin: 0 5px;
	}
	span {
		display: block;
	}
}

#demographic {
	background: rgba(#d8bfd8, 30%);
}

#loyalty {
	background: rgba(#663399, 20%);
	h4,
	.num {
		color: rgba(#663399, 60%);
	}
}

#roi {
	background: rgba(#66cdaa, 20%);
	h4,
	.num {
		color: #66cdaa;
	}
}

#motivational {
	background: rgba(#e9967a, 20%);
	h4,
	.num {
		color: #e9967a;
	}
}

#leadership {
	background: rgba(#7b68ee, 20%);
	h4,
	.num {
		color: #7b68ee;
	}
}

#govt {
	background: rgba(#bdb76b, 30%);
}

#prefer {
	background: rgba(#556b2f, 20%);
}
.slot1 {
	width: 30%;
	padding: 15px;
	margin: 5px;
	border: 1px solid #e9967a;
	display: inline-block;
	background: rgba(#e9967a, 10%);
}
.slot2 {
	width: 30%;
	padding: 15px;
	margin: 5px;
	border: 1px solid #e9967a;
	display: inline-block;
	background: rgba(#e9967a, 20%);
}
.slot3 {
	width: 30%;
	padding: 15px;
	margin: 5px;
	border: 1px solid #e9967a;
	display: inline-block;
	background: rgba(#e9967a, 30%);
}
